
#finalround-logo{
  margin: 8px;
  background-color: #337ab7;
  color: white;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}


#title-phrase{
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;

}

