
#finalround-logo{
  margin: 8px;
  background-color: black;
  color: white;
  border-color: white;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

#first-page {
  margin-top: -20px;
}

.big-picture {
  position: fixed;
  width: 100%;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url('http://i.imgur.com/pU1ARza.jpg?1') 
  no-repeat bottom center scroll;

  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  -o-background-size: contain;
}

.media {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 10px;
}

.inline-block {
  display: inline-block;
}

#explanation {
  color: black;
}

#eminem {
  color: black;
}

.title-shot {
  line-height: 15px;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 50px;
  text-transform: uppercase;
  color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

